version: "3.9"

services:
  worker-pubsub:
    build:
      context: .
      dockerfile: Dockerfile.worker
    container_name: hikvision-worker-pubsub
    environment:
      RABBITMQ_HOST: mq.petrokimia-gresik.com
      RABBITMQ_PORT: 5672
      RABBITMQ_USER: user
      RABBITMQ_PASSWORD: password
      HIKVISION_BASE_URL: https://10.14.41.217:5001
      HIKVISION_AK: 44499395
      HIKVISION_SIGNATURE: lhY4jtPZfM+oVZJPRvUxHhD8ZGZjqHBjp9qtraFhfjg=
    restart: unless-stopped
    networks:
      - hikvision-network

networks:
  hikvision-network:
    driver: bridge